.Rproj.user
.Rhistory
.RData
.Ruserdata
geography.Rproj
author_decisions.csv
decisions-2.csv
decisions.csv
reviewer_geographies.csv
notes
plots/
archived_data/
exploratory_plots/
exploratory_analyses/
imputation/
reviewer_countries.csv
